modules = ["python-3.11", "nodejs-20", "postgresql-16"]
[agent]
expertMode = true

[nix]
channel = "stable-25_05"
packages = ["cairo", "cargo", "ffmpeg-full", "freetype", "ghostscript", "glibcLocales", "gobject-introspection", "gtk3", "gumbo", "harfbuzz", "jbig2dec", "lcms2", "libiconv", "libimagequant", "libjpeg", "libjpeg_turbo", "libtiff", "libwebp", "libxcrypt", "mupdf", "openjpeg", "pkg-config", "poppler", "poppler_utils", "qhull", "rustc", "swig", "tcl", "tk", "xcbuild", "xcodebuild", "zlib"]

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start Application"

[[workflows.workflow]]
name = "Start Application"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python main.py"
waitForPort = 5000

[workflows.workflow.metadata]
outputType = "webview"

[[ports]]
localPort = 5000
externalPort = 80

[deployment]
deploymentTarget = "autoscale"
run = ["python", "main.py"]

[userenv]

[userenv.shared]
WAHA_API_URL = "https://waha-production-3000.up.railway.app"
OPENAI_ORG_ID = "org-ea0pS41q43zJPgCzWLoUnGzi"
OPENAI_PROJECT_ID = "proj_ESHVQ6hdk1CDKTUaNSE9WpWU"
WAHA_SESSION = "default"
ZAPI_INSTANCE_ID = "3EDCF1B1535C02F670142A03C621DAD7"
ZAPI_TOKEN = "11EA39732DBEC4E0ABCB4F95"
ZAPI_CLIENT_TOKEN = "F12c25cc2d27a4967a96c001a647f1381S"
MICROSOFT_CLIENT_ID = "4829db7e-d75f-40a9-96c4-75bffc665a14"
MICROSOFT_TENANT_ID = "91608a81-cb4c-4123-8e4f-ffc75f8c4b6c"
MICROSOFT_CLIENT_SECRET = "2NM8Q~Kci2GgVFHMh2PqYyP8Xcg4EdKv.wWBXbNG"
